<nav role="navigation">
  <ul>
    <li><a href="{{ site.url }}/" {% if page.url == "/" %}class="active"{% endif %}>Home</a></li>
    <li><a href="{{ site.url }}/project1" {% if page.url == "/project1" %}class="active"{% endif %}>project 1</a></li>
    <li><a href="{{ site.url }}/project2" {% if page.url == "/project2" %}class="active"{% endif %}>project 2</a></li>
    <li><a href="{{ site.url }}/project3" {% if page.url == "/project3" %}class="active"{% endif %}>project 3</a></li>
    <li><a href="{{ site.url }}/project4" {% if page.url == "/project4" %}class="active"{% endif %}>project 4</a></li>
    <li><a href="{{ site.url }}/project5" {% if page.url == "/project5" %}class="active"{% endif %}>project 5</a></li>
    <li><a href="{{ site.url }}/sip-project" {% if page.url == "/sip-project" %}class="active"{% endif %}>sip-project</a></li>
  </ul>
</nav>
